<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no">
    <!-- 引入jquery css&js -->
    <!-- CDN为国外源，如不可访问请自行切换 -->
    <script src="/js/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="/js/popper.min.js" crossorigin="anonymous"></script>
    <script src="/js/spark-md5.min.js" crossorigin="anonymous"></script>
    <!-- 引入bootstrap css&js -->
    <!-- CDN为国外源，如不可访问请自行切换 -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" crossorigin="anonymous">
    <script src="/js/bootstrap.min.js" crossorigin="anonymous"></script>

</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-10 mx-auto">
            <form class="mt-5" method="post" enctype="multipart/form-data">
                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="customFile" name="file">
                        <label class="custom-file-label" for="customFile" data-browse="选择文件">点击选择...</label>
                    </div>
                    <div class="input-group-append">
                        <button type="button" class="btn btn-outline-secondary reset">重选</button>
                    </div>
                </div>
                <input type="hidden" id="hidden" th:value="${hidden}">
                <div class="empty-table"><br/><br/></div>
                <div class="">
                    <label>文件名: <font id="fileName"></font></label><br>
                    <label>文件大小: <font id="fileSize"></font></label><br>
                    <label>MD5: <font id="fileMd5"></font></label><br>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <div class="text-center">
                            <button type="submit" id="uploadFileBtn" class="btn btn-outline-secondary">提交</button>
                        </div>
                    </div>
                </div>
            </form>
            <!-- Bootstrap Progress bar -->
            <div class="progress mt-3">
                <div id="progressBar" class="progress-bar progress-bar-success" role="progressbar"
                     aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">0%
                </div>
            </div>
            <!-- Bootstrap Alert -->
            <div id="alertDiv" class="mt-3 alert alert-warning alert-dismissible fade" role="alert">
                <font id="alertMsg"></font>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

        </div>
    </div>
</div>

<!-- 引入upload.js -->
<script src="/js/upload.js"></script>
</body>
</html>